@import "@fontsource/figtree/300.css" layer(base);
@import "@fontsource/figtree/400.css" layer(base);
@import "@fontsource/figtree/500.css" layer(base);
@import "@fontsource/figtree/600.css" layer(base);
@import "@fontsource/figtree/700.css" layer(base);
@import "@fontsource/figtree/800.css" layer(base);
@import "@fontsource/figtree/900.css" layer(base);

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@config '../../tailwind.config.js';

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  html {
    @apply size-full scroll-smooth;
  }

  body {
    font-family: "Figtree", sans-serif;
    color: #453c52;
    @apply text-secondary-900 size-full font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 0.875rem;
  }

  @keyframes wave {
    50% {
      transform: scale(0.9);
    }
  }

  .App-logo {
    height: 10vmin;
    pointer-events: none;
    filter: brightness(80%);
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-blink 1s linear infinite;
    }
  }

  @keyframes App-logo-blink {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    75% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
    }
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .login-hero {
    background:
      linear-gradient(
        to bottom right,
        rgba(4, 78, 55, 0.466),
        rgba(2, 54, 40, 0.521)
      ),
      url("/images/wave_scene_square.png");
    background-size: cover;
    background-position: center;
    animation: alternate-reverse 30s linear infinite herobg;
  }

  .login-hero::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0px;
    width: 200px;
    z-index: 2;
    background: url("/images/wave_long_2.png");
    background-position: top right;
    transition: 0.2s;
    animation: 120s linear infinite wave alternate-reverse;
    -webkit-filter: drop-shadow(-30px 10px 10px rgba(34, 34, 34, 0.101));
  }

  .login-hero::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    width: 200px;
    z-index: 1;
    background: url("/images/wave_long.png");
    opacity: 0.5;
    background-position: bottom right;
    animation: 120s linear infinite wave_2 alternate-reverse;
    -webkit-filter: drop-shadow(-30px 10px 10px rgba(34, 34, 34, 0.116));
  }

  @media screen and (max-width: 768px) {
    .login-hero::before {
      display: none;
    }
    .login-hero::after {
      display: none;
    }
  }

  @keyframes wave {
    0% {
      background-position: top right;
    }
    100% {
      background-position: bottom right;
    }
  }

  @keyframes wave_2 {
    0% {
      background-position: bottom right;
    }
    100% {
      background-position: top right;
    }
  }

  @keyframes herobg {
    0% {
      background-size: 110%;
    }
    100% {
      background-size: 200%;
    }
  }

  @media screen and (max-width: 1078px) {
    @keyframes herobg {
      0% {
        background-size: 140%;
      }
      100% {
        background-size: 200%;
      }
    }
  }

  input[type="search"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
  input[type="search"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }

  [data-slot="form-label"][for][aria-required="true"]::after {
    @apply -ml-1 text-red-500 content-['*'];
  }

  [data-slot="tabs-trigger"] {
    @apply not-data-[state=active]:text-gray-500;
  }

  [data-slot="input-otp-slot"] {
    @apply data-[active=true]:ring-primary-500 data-[active=true]:border-primary-500 data-[active=true]:ring-1 not-first:data-[active=true]:border-x;
  }

  button[role="radio"] {
    @apply data-[state=checked]:border-primary-500 data-[state=checked]:text-primary-500 border-gray-300 shadow-sm;
  }

  button[role="combobox"] {
    @apply w-full;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.13 0.028 261.692);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary: oklch(0.21 0.034 264.665);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --secondary: oklch(0.967 0.003 264.542);
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.002 247.839);
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.21 0.034 264.665);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.967 0.003 264.542);
  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.707 0.022 261.325);
}

.dark {
  --background: oklch(0.13 0.028 261.692);
  --foreground: oklch(0.985 0.002 247.839);
  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.985 0.002 247.839);
  --popover: oklch(0.21 0.034 264.665);
  --popover-foreground: oklch(0.985 0.002 247.839);
  --primary: oklch(0.928 0.006 264.531);
  --primary-foreground: oklch(0.21 0.034 264.665);
  --secondary: oklch(0.278 0.033 256.848);
  --secondary-foreground: oklch(0.985 0.002 247.839);
  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.707 0.022 261.325);
  --accent: oklch(0.278 0.033 256.848);
  --accent-foreground: oklch(0.985 0.002 247.839);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.034 264.665);
  --sidebar-foreground: oklch(0.985 0.002 247.839);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.278 0.033 256.848);
  --sidebar-accent-foreground: oklch(0.985 0.002 247.839);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}
